.menu{
    width: 1440px;
    height: 70px;
    flex-shrink: 0;
    background: #11C759;
}

.menu-texto{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    width: 302px;
height: 42px;
flex-shrink: 0;
}

.cabec{
   width: 1440px;
   height: 382px;
   flex-shrink: 0;
   background: #34C91C;
}

.cabec-avatar{
    position: absolute;
    left: 50px;
    width: 330px;
    
    
}

.cabec-texto{
    color: #FFF8F8;
font-family: Inter;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
position: absolute;
top: 220px;
left: 420px;
    
}




.mensagem-texto{
    color: #000;
    font-size: 30px;
    font-family: Inter;
    
}
.corpo{
    width: 1440px;
height: 490px;
flex-shrink: 0;
    display: grid;
    text-align: center;
    grid-template-columns: 30% 30% 30%;
    position: absolute;
    background: linear-gradient(180deg, #34C91C 0%, rgba(255, 255, 255, 0.00) 100%);
}
.corpo-itens{
    text-align: center;
    padding: 16px 0;
}
.corpo-itens-img{
    width: 280px;
}
